<h1>投稿一覧</h1>
<p><%= notice%></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @comments.each do |comment| %>
  <tr>
    <td class="title"><%= comment.content %></td>
    <td><%= link_to '詳細を確認する', comment_path(comment.id),class: 'btn btn-default'%></td>
    <td><%= link_to 'tweetを編集する', edit_comment_path(comment.id), data: {confirm: '本当に編集していいですか？'} %></td>
    <td><%= button_to 'tweetを削除する', comment_path(comment.id), method: :delete %></td>
  </tr>
<% end %>
</table><br>
<%= link_to '新しくTweetする', new_comment_path %>
